@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --txt-black: #0a0622;
  --txt-black2: #030821;
  --txt-grey: #666a7a;
  --calc-grey: #f1f3f8;
  --background-grey: #f6f8fc;
  --background-grey2: #f1f3f8;
  --background-sidebar: #252526;
  --up-green: #1ad04d;
  --down-red: #fe103b;
  --orange: #ff5440;
  --orange-light: #ff7666;
  --white: #ffffff;
}

.main {
  background-color: var(--background-grey);
}

.txt_orange {
  color: var(--orange);
  font-weight: 600;
}

.txt_black {
  color: var(--txt-black);
}

.txt_white {
  color: var(--white);
}

/* Navbar */
/*  */
.nav_text {
  display: flex;
  line-height: 40px;
  text-align: center;
  justify-content: center;
  font-weight: 600;
}

.personal_cab {
  width: 190px;
  height: 40px;
  background-color: var(--orange);
  border-radius: 8px;
}

.personal_cab:hover {
  background-color: #ff3d27;
}

/* Main */
/*  */
.main_white {
  background-color: var(--white);
}

.main_exch {
  border-radius: 16px;
  box-shadow: 0 10px 20px #14127605;
  padding: 32px;
}

.main_h2 {
  font-size: 1.867rem;
  line-height: 44px;
  color: var(--txt-black2);
  font-weight: 900;
}

.main_h3 {
  color: var(--txt-black2);
  font-weight: 100;
  font-size: 0.933rem;
  line-height: 20px;
}

.main_prices {
  color: var(--txt-black2);
  font-weight: 500;
}

.main_grid {
  margin-top: 32px;
}

/* Main Calculator */
/*  */
.calc_h2 {
  font-size: 1.333rem;
  line-height: 21px;
  color: var(--txt-black2);
  font-weight: 600;
}

.calc_p {
  font-size: 0.933rem;
  line-height: 20px;
  color: var(--txt-grey);
  font-weight: 500;
  padding-left: 20px;
  margin-bottom: 12px;
}

.calc_div {
  background-color: var(--background-grey2);
  border-radius: 8px;
  box-shadow: 0 10px 20px #14127605;
  border: none;
}

.calc_input {
  background-color: var(--background-grey2);
  border-radius: 8px;
  box-shadow: 0 10px 20px #14127605;
  border: none;
  color: #666a7a;
  font-family: helvetica-neue-light;
  font-size: 0.933rem;
  height: 56px;
  line-height: 16px;
  outline: none;
  padding: 0 0 0 20px !important;
  font-weight: 500;
}

.calc_select {
  display: flex;
  align-items: center;
  background-color: var(--background-grey2);
}

.select_text {
  font-weight: 600;
}

.calc_toggle {
  transition: transform 0.2s;
}

.calc_toggle:hover {
  transform: scale(1.05);
}

.calc_span {
  color: var(--txt-black2);
  line-height: 18px;
  font-weight: 600;
}

/* Sidebar  */
/*  */
.sidebar {
  background-color: var(--background-sidebar);
  border-radius: 16px;
  box-shadow: 0 20px 25px #1412760f;
  left: 8px;
  padding: 16px 10px;
  position: fixed;
  top: 50%;
  z-index: 9;
}

.sidebar_el {
  height: 36px;
  width: 36px;
}

.sidebar_el:last-child {
  height: 16px;
}
