@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --txt-black: #0a0622;
  --txt-black2: #030821;
  --txt-grey: #666a7a;
  --calc-grey: #f1f3f8;
  --background-grey: #f6f8fc;
  --background-grey2: #f1f3f8;
  --background-sidebar: #252526;
  --up-green: #1ad04d;
  --down-red: #fe103b;
  --orange: #ff5440;
  --orange-light: #ff7666;
  --white: #ffffff;
}

body {
  min-height: 100vh;
}

.main {
  background-color: var(--background-grey);
}

.txt_orange {
  color: var(--orange);
  font-weight: 600;
}

.txt_black {
  color: var(--txt-black);
}

.txt_white {
  color: var(--white);
}

/* Navbar */
/*  */
.nav_text {
  display: flex;
  line-height: 40px;
  text-align: center;
  justify-content: center;
  font-weight: 600;
}

.nav_text_black {
  color: var(--txt-black);
  font-weight: 400;
  font-size: large;
  position: relative;
}

.nav_text_black:hover {
  color: var(--orange);
}

.nav_text_black::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 50%;
  background-color: var(--orange);
  transition: all 0.3s ease;
}

.nav_text_black:hover::after {
  width: 100%;
  left: 0;
}

.personal_cab {
  width: auto;
  height: 40px;
  background-color: var(--orange);
  border-radius: 8px;
}

.personal_cab:hover {
  background-color: #ff3d27;
}

/* SwiperCarousel */
/*  */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Main */
/*  */
.main_white {
  background-color: var(--white);
}

.main_exch {
  border-radius: 16px;
  box-shadow: 0 10px 20px #14127605;
  padding: 32px;
}

.main_h2 {
  font-size: 1.867rem;
  line-height: 44px;
  color: var(--txt-black2);
  font-weight: 900;
}

.main_h3 {
  color: var(--txt-black2);
  font-weight: 100;
  font-size: 0.933rem;
  line-height: 20px;
}

.main_time {
  font-size: 0.9rem;
  line-height: 44px;
  color: var(--txt-grey);
  font-weight: 500;
}

.main_prices {
  color: var(--txt-black2);
  font-weight: 500;
}

.main_grid {
  margin-top: 32px;
}

/* Main Calculator */
/*  */
.calc_h2 {
  font-size: 1.333rem;
  line-height: 21px;
  color: var(--txt-black2);
  font-weight: 600;
}

.calc_p {
  font-size: 0.933rem;
  line-height: 20px;
  color: var(--txt-grey);
  font-weight: 500;
  padding-left: 20px;
  margin-bottom: 12px;
}

.calc_div {
  background-color: var(--background-grey2);
  border-radius: 8px;
  box-shadow: 0 10px 20px #14127605;
  border: none;
}

.calc_input {
  background-color: var(--background-grey2);
  border-radius: 8px;
  box-shadow: 0 10px 20px #14127605;
  border: none;
  color: #666a7a;
  font-family: helvetica-neue-light;
  font-size: 0.933rem;
  height: 56px;
  line-height: 16px;
  outline: none;
  padding: 0 0 0 20px !important;
  font-weight: 500;
}

.calc_select {
  display: flex;
  align-items: center;
  background-color: var(--background-grey2);
}

.select_text {
  font-weight: 600;
}

.calc_toggle {
  transition: transform 0.2s;
}

.calc_toggle:hover {
  transform: scale(1.1);
}

.calc_span {
  color: var(--txt-black2);
  line-height: 18px;
  font-weight: 600;
}

/* Sidebar  */
/*  */
.sidebar {
  background-color: var(--background-sidebar);
  border-radius: 16px;
  box-shadow: 0 20px 25px #1412760f;
  left: 8px;
  padding: 16px 10px;
  position: fixed;
  top: 45%;
  z-index: 9;
}

.sidebar_el {
  height: 36px;
  width: 36px;
}

.sidebar_el:last-child {
  height: 16px;
}

/* Footer  */
/*  */
.footer_p {
  font-size: 0.933rem;
  line-height: 20px;
  color: var(--txt-grey);
  font-weight: 500;
  padding-left: 20px;
  margin-bottom: 12px;
}

/* Contact  */
/*  */

.contacts_svg {
  transition: transform 0.2s;
}

.contacts_svg:hover {
  transform: scale(1.15);
}

/* Loader */
/*  */
/* From Uiverse.io by alexruix */
.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}

.loader:before {
  content: "";
  width: 48px;
  height: 5px;
  background: #f0808050;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #f08080;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {
  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}

/* not-found  */
/*  */
.main_not-found {
  margin-top: 15%;
}

.st0 {
  fill: #fff;
}
.st2 {
  fill: #5d89af;
}
.st3 {
  fill: #709abf;
}
.st4,
.st6 {
  fill: #fff;
  stroke: #b3dcdf;
  stroke-miterlimit: 10;
}
.st6 {
  stroke: #5d89af;
  stroke-width: 2;
}
.st7,
.st8,
.st9 {
  stroke: #709abf;
  stroke-miterlimit: 10;
}

.st7 {
  stroke-width: 5;
  stroke-linecap: round;
  fill: none;
}
.st8,
.st9 {
  fill: #fff;
}
.st9 {
  fill: none;
}

#cloud1 {
  animation: cloud003 15s linear infinite;
}

#cloud2 {
  animation: cloud002 25s linear infinite;
}

#cloud3 {
  animation: cloud003 20s linear infinite;
}

#cloud4 {
  animation: float 4s linear infinite;
}

#cloud5 {
  animation: float 8s linear infinite;
}

#cloud7 {
  animation: float 5s linear infinite;
}

#tracks {
  animation: slide 650ms linear infinite;
}

#bumps {
  animation: land 10000ms linear infinite;
}

@keyframes jig {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}

#car-layers {
  animation: jig 0.35s linear infinite;
}

@keyframes land {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1000px);
  }
}

@keyframes slide {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}

@keyframes cloud001 {
  0% {
    transform: translateX(-1000px) translateY(3px);
  }
  100% {
    transform: translateX(1000px) translateY(0);
  }
}

@keyframes cloud002 {
  0% {
    transform: translateX(-1000px) translateY(3px);
  }
  100% {
    transform: translateX(1000px) translateY(0);
  }
}

@keyframes cloud003 {
  0% {
    transform: translateX(-1000px) translateY(3px);
  }
  100% {
    transform: translateX(1000px) translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px) translateX(0);
  }
  50% {
    transform: translateY(8px) translateX(5px);
  }
  100% {
    transform: translateY(0px) translateX(0);
  }
}

#bracefront,
#braceback {
  animation: braces 1s linear infinite;
}

@keyframes braces {
  0% {
    transform: translateX(-2px);
  }
  25% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-2px);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-2px);
  }
}
